<?php
/**
 * Created by PhpStorm.
 * User: ducto
 * Date: 05/12/2017
 * Time: 4:34 CH
 */

$root = str_replace('\\','/',dirname(__FILE__));

if (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == "on") {
    $url = "https://";
} else {
    $url = "http://";
}

$url .= $_SERVER['HTTP_HOST'];

if ($_SERVER['SERVER_PORT'] != 80) {
    $url .= ':' . $_SERVER['SERVER_PORT'];
}
define('BASE_URL', $url.'/');
define('BASE_ADMIN_URL', BASE_URL."admin/");
define('BASE_SCRIPT_NAME', '');
define('MEDIA_NAME',"public/media/"); //Tên đường dẫn lưu media
define('MEDIA_PATH',$root.'/'.MEDIA_NAME); //Đường dẫn lưu media
define('MEDIA_URL',BASE_URL . MEDIA_NAME);

define('DB_DEFAULT_HOST','localhost'); //DB HOST
define('DB_DEFAULT_USER','root'); //DB USER
define('DB_DEFAULT_PASSWORD','Abc1234@'); //DB PASSWORD
define('DB_DEFAULT_NAME','corefw'); //DB NAME

define('MAINTAIN_MODE',FALSE); //Bảo trì
define('DEBUG_MODE',TRUE);

//Cache manager
define('CACHE_MODE',TRUE);
define('CACHE_PREFIX_NAME','THANHCHIMB_');
define('CACHE_TIMEOUT_LOGIN',1800);

//Config zalo
define('ZALO_APP_ID_CFG','837698574184996512');
define('ZALO_APP_SECRET_KEY_CFG','1XXO6SCOkX8KaEO5BvZZ');
define('ZALO_CAL_BACK',BASE_URL.'auth/loginzalo');
//define('ZALO_OA_SECRET_KEY_CFG','APS_');
//Config zalo

define('FB_API','383863395372857');
define('FB_SECRET','5d0fa0a80a67db2a6d0fd72bd27f7750');
define('FB_VER','v2.9');

define('GG_API','778836651692-hn9srbboktca7kke49lg9uq88amq0cl7.apps.googleusercontent.com');
define('GG_SECRET','P5BJVSsjeDkyvqm-mvZ-z-Mh');
define('GG_KEY','AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8');//AIzaSyAhR8OG9cUL1jDfAAc6i35nt5Ki1ZJnykA
define('GG_CAPTCHA_MODE', FALSE);
define('GG_CAPTCHA_SITE_KEY','6LevJWcUAAAAAMi7qfknK1bnVNd8sjQPcrShoZjC');
define('GG_CAPTCHA_SECRET_KEY','6LevJWcUAAAAAHE2cjYE-Kfy5LiHEnSl7bpj_Ssq');
