.product-buy .availability.in-stock span {
    width: 100%;
    text-align: center;
    line-height: 25px;
    padding: 0;
    height: 25px;
    border-radius: 0;
}
.product-buy .availability.in-stock {
    position: initial;
}
.product-buy .widget__sidebar .widget-title {
    margin-bottom: 10px;
}
@media (min-width:1480px){
	.container, .nav-container {
		width: 1450px;
	}
}
.mini-promotion .mini-banner-wrap .mini-item {
    width: 33.33%;
    display: grid;
    /*height: 206px;*/ 
}

.col-main .category-products .products-grid {
    display: flex;
    flex-flow: row wrap;
}
.products-grid .item .item-inner {
	border: 1px solid transparent;
}
.products-grid .item .item-inner .item-img{
	height: 250px;
}
.products-grid .item .item-img img {
    height: 235px;
    object-fit: contain;
}
a:focus, a:hover {
    text-decoration: none!important;
}
.price-slider .owl-buttons .fa {
	background: transparent;
    color: #be1e2d;
    line-height: 30px;
    width: 30px;
    padding: 0;
    height: 30px;
    font-size: 20px!important;
    position: absolute;
    top: 50%;
	transform: translateY(-25px);
	-moz-transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}
.price-slider .flex-prev .fa {
	left: 0;
}
.price-slider .flex-next .fa {
	right: 0;
}
.price-slider .owl-buttons a:hover .fa,
.price-slider .owl-buttons a:focus .fa {
	background: #c70416;
	color: #fff;
}
.price-slider .price-item {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    height: 60px;
}
.price-slider .price-item .price {
    font-size: 15px;
    color: #456883;
    font-weight: bold;
}
.price-slider.owl-theme .owl-controls {
	margin-top: 0;
}
.price-slider.owl-theme .owl-controls .owl-buttons div {
	opacity: 1;
	filter: alpha(opacity=50);
}
.d-flex {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;    
}
@media (max-width: 1024px) {
	.d-flex {
		overflow-x: auto;
		margin-bottom: 30px;
	}	
}
.d-flex .col {
    width: 100%;
}
.d-flex [name='product-detail-radio'] {
    visibility: hidden;
}

.d-flex .pricing-plan:not(:first-child) {
    margin-left: 1px;
}
.d-flex [name="product-detail-radio"]:checked + .pricing-plan .pricing-head {
    filter: sepia(1) hue-rotate(90deg);
}
.d-flex [name="product-detail-radio"]:checked + .pricing-plan img.shape {
    display: none;
}
.d-flex [name="product-detail-radio"]:checked + .pricing-plan img.shape_hover {
    display: inline;
}
.d-flex .pricing-plan {
  border-radius: 20px;
  margin-bottom: 35px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
.d-flex .pricing-head{
  position: relative;
  text-align: center;
  z-index: 11;
  background-color: #e6e5e3;
  border-radius: 18px 18px 0 0;
}
.d-flex .pricing-body{
  height: 262px;
  padding: 40% 1rem 0;
  border: 1px solid #f2f2f2;
}
.d-flex .pricing-footer{
  text-align: center;
}
.d-flex .pricing-head img.shape, .d-flex .pricing-head img.shape_hover{
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
  top: 94%;
}
.d-flex img{
  vertical-align: middle;
  border: 0;
}
.d-flex .pricing-head img.shape_hover{
  display: none;
}
.d-flex .pricing-head .name{
  height: 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #363636;
  line-height: normal;
  padding: 1rem 0;
  font-weight: 700;
}
.d-flex .pricing-head .short-desc{
  font-size: 12pt;
  line-height: 16pt;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.d-flex .pricing-head .price{
  	color: #363636;
    min-height: 20px;
}
.d-flex .pricing-head span.value{
  display: block;
  font-size: 1.5rem;
  line-height: normal;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.d-flex .pricing-head span.duration{
  margin-top: 0;
  display: block;
  font-size: 14px;
}
.d-flex ol, .d-flex ul {
  margin-top: 0;
  margin-bottom: 10px;
}
.d-flex .pricing-body ul li i{
  float: right;
  margin-top: 6px;
}
.d-flex .pricing-footer .p-button{
  display: inline-block;
  //padding: 10px 16px;
  font-size: 14px;
  min-width: 120px;
  text-transform: uppercase;
  background: #363636;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  border-radius: 40px;
}