.d-none{display: none !important;}
.fixed{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #000000;
    opacity: 0.4;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.block-company-wrapper .dropdown-menu li {
    padding: 5px 15px;
}
.block-company-wrapper .dropdown-menu a{
    padding: 6px 12px 6px 44px !important;
    color: #fff !important;
}
.block-company-wrapper .dropdown-menu a:hover{
    background: #545656 !important;
    color: inherit !important;
}

header .our-features-box ul {
    display: table;
}

header .our-features-box li {
    float: none;
    margin-bottom: 0px;
    text-align: center;
    width: inherit;
    padding: 0;
    display: table-cell;
    text-transform: uppercase;
}
.features-block a:before{
    content: none;
}

#mobile-menu .top-links ul.links a.btn-social{
    color: #ffffff !important;
    padding-left: 44px !important;
}
.btn-social>:first-child{
    font-size: 1.2em;
}
.has-warning .text-danger {
    color: #f4516c;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 1;
    margin-bottom: 10px;
}

.our-features-box .feature-box{
    padding: 18px 10px;
}

.product-view .product-shop .sold{
    font-size: 85%;
    font-weight: normal;
    color: #999999;
}

.product-view .product-shop .sold strong{
    font-size: 14px;
}
.product-view .product-shop .ratings{
    padding: 0;
}
.email-addto-box{
    margin: 0;
}

.jssocials{
   margin: 10px 0;
}
.newsletter-footer .text-danger{
    text-align: center;
    position: absolute;
    right: 355px;
    top: 13px;
    width: auto;
    margin: 0 auto;
}
.buy-more .add-to-box{
    padding: 0 !important;
}
.product-buy{
    padding: 0;
}
.product-buy .info{
    overflow: hidden;
    font-size: 14px;
    color: #333;
    line-height: 1.4em;
    padding: 18px 15px;
    background: #f2f2f2;
    margin-bottom: 10px;
}
.product-buy .feature-box .content{
    width: 210px;
}

.product-buy .feature-box h3{
    font-size: 15px;
}
.agency{margin-top: 10px;}

.product-buy .agency{
    margin-top: 10px;
}

.accessories .item{
    padding: 0 5px 10px;
}