@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body {
	font-family: 'Muli', sans-serif!important;
}

.price-slider .owl-buttons .fa {
	background: transparent;
    color: #be1e2d;
    line-height: 30px;
    width: 30px;
    padding: 0;
    height: 30px;
    font-size: 20px!important;
	transform: translateY(-30px);
	-moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}
.price-slider .owl-buttons a:hover .fa,
.price-slider .owl-buttons a:focus .fa {
	background: #c70416;
	color: #fff;
}
.price-slider .price-item {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
.price-slider .price-item .price {
    font-size: 15px;
    color: #456883;
    font-weight: bold;
}
.price-slider.owl-theme .owl-controls {
	margin-top: 0;
}
.price-slider.owl-theme .owl-controls .owl-buttons div {
	opacity: 1;
	filter: alpha(opacity=50);
}
@media (max-width: 640px) {
	.d-flex.pricing-style1 {
		overflow-x: auto;
		margin-bottom: 30px;
	}
	.pricing-plan {
		margin-bottom: 0;
	}
}
.padding-0 {
	padding: 0;
}
nav#menu-main {
    margin-bottom: 15px;
}

.home-slider {
    background: #f1eff2;
}
.home-slider #sync2 {
    padding-bottom: 10px;
}
.home-slider .owl-item .item {
    margin: 0;
}
.home-slider .item a {
    color: #000;
}
.home-slider .item a:hover {
    color: #be1e2d;
}
.home-slider #sync2 .item {
	border: 0;
	padding: 1rem;
}
.home-slider #sync2 .owl-item {
	border-right: 1px solid #ccc;
}
.home-slider .owl-next i, .home-slider .owl-prev i {
    transform: translateY(-50%);
    margin-top: -25px;
}
.home-slider .owl-next i:hover, .home-slider .owl-prev i:hover {
    background: #be1e2d;
    color: #fff;
}
.home-slider #sync1 .owl-controls {
    height: 0;
}
@media (min-width: 1025px) {
    .side-banner .twobanner img {
        height: 77px;
    }
}
.products-grid .item .item-inner .item-img .item-img-info a.product-image img {
    width: 100%;
    object-fit: contain;
    height: 235px;
}
.products-grid .item .item-inner .item-info .info-inner .item-title {
	margin-top: 10px;
}

.mega-menu-title {
	height: 48px;
}
.side-banner img, .blog-outer-container .entry-thumb img, .offer-banner img {
	object-fit: fill;
    width: 100%;
}
.image-hover2 a {
	display: block;
}
.blog-preview_title a:hover, .blog-preview_title a:focus {
	color: #be1e2d;
}
.footer .footer-top {
	padding: 30px 0;
}
.footer .footer-middle {
    padding-bottom: 0;
}
.footer ul.nav-link {
	grid-gap: 5px;
	padding-bottom: 30px;
    padding-left: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.footer .footer-link {
	padding-top: 30px;
}
.footer-link ul.nav-link li  {
	text-align: left;
}
@media (min-width: 641px) {
	.footer .payment-accept {
		margin-right: 70px;
	}
}
.product-essential .product-image .zoomGalleryActive img {
	border-color: #be1e2d;
}
.product-essential .product-img-box {
    padding: 0;
}
.product-view .product-buy .info {
	margin-bottom: 15px;
}
.nav-tabs.product-tabs > li > a {
	padding: 15px 9px 12px;
}
.products-grid .rating {
    text-align: center;
}
.products-grid .item .ratings {
	width: 100%;
}
.products-grid .rating-box {
	position: relative;
    width: 100%;
    height: 40px;
    text-indent: 0;    
    font-size: inherit;
}
.products-grid  .rating-box .rating {
	background: none;
}
.products-grid .rating-box .rating:before {
    content: "\f005\f005\f005\f005\f005";
    color: rgb(251, 175, 63);
    font-family: 'FontAwesome';
    letter-spacing: 0.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.product-view .rating-box {
	background: none!important;
}
.products-grid .item .item-inner .item-info .info-inner .item-title {
	height: calc(24px * 2);
	-webkit-line-clamp: 2;
}
.product-buy .pstock-list .availability span {
    line-height: 25px;
    padding: 0;
    height: 25px;
    border-radius: 0;
    width: 100%;
    text-align: center;
}
.product-buy .pstock-list {
	max-height: 70vh!important;
}
.slider-items-products .owl-buttons i {
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 30px;
}
#related-products-slider .owl-buttons i:hover {
	background: #be1e2d;
	color: #fff;
}
#related-products-slider .owl-buttons .owl-prev {
	right: 55px;
}
#related-products-slider .owl-buttons .owl-next {
    right: 10px;
}
#related-products-slider .owl-buttons div {
	opacity: 1;
	filter: alpha(opacity=1);
}

.sidebar .block .block-content {
    padding: 15px 0 0;
}
.sidebar .block .block-content dt {
    margin-bottom: 5px;
}
.sidebar .block .block-content dd {
    padding: 0;
}
.sidebar .block .block-content select {
    box-shadow: none;
}
.alert-cart span {
    font-size: 14px;
    color: #c10404;
    display: inline-block;
    border: 2px solid #c10404;
    padding: 10px;
}