.pl-0 {
    padding-left: 0;
}
.padding-0 {
    padding: 0;
}
@media (min-width:1480px){
	.container, .nav-container {
		width: 1450px!important;
	}
}
#main-header {
    margin-bottom: 15px;
}
.main-banner .twobanner img {
	height: 75px;
} 
.main-banner .side-banner {
    z-index: auto;
    margin-bottom: 20px;
}
.logo {
    max-width: 165px;
}
#sync1 .owl-controls .owl-prev {
    left: -5px;
}
#sync1 .owl-controls .owl-next {
    right: -5px;
}
#sync2 .item {
    min-height: 56px;
}
#sync2 .item a {
    color: #000;
}
.blog-inner .image-hover2 a {
    display: block;
}
.blog-inner .image-hover2 img {
    width: 100%;
}
.category-product {
	margin-bottom: 0;
}
.category-product + .category-product {
	margin-top: 20px;
}
.category-product .navbar {
	min-height: auto;
}
.category-product .navbar-collapse {
	padding: 0;
}
.category-product .new_title {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: #fdd504;
}
.category-product .new_title::after {
	content: none;
}
.category-product .nav-category-title {
	font-size: 20px;
	line-height: normal;
    margin-bottom: 0;
    flex: none;
}
.category-product .nav-category-title a {
    background: #be1e2d;
    color: #fff;
    position: relative;
    padding: 6px 15px;
    border-radius: 0 3px 3px 0;
    display: inline-block;
}
.category-product .nav-category-title a:after {
    position: absolute;
    content: '';
    border-top: 19px solid transparent;
    border-left: 13px solid #be1e2d;
    border-right: 0 solid transparent;
    border-bottom: 19px solid transparent;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}
.category-product .view-list-child  {
    padding-left: 30px;
    text-align: right;
}
.category-product .view-list-child a {
	color: #333;
	font-weight: bold;
    padding: 5px 0;
    display: inline-block;

}
.category-product .view-list-child a:hover,.category-product .view-list-child a:focus  {
	color: #be1e2d;
}
.category-product .products-grid {
	padding: 0;
}
.category-product  .category-products {
	padding-bottom: 0;
}
.category-product .product-bestseller {
	margin: 0;
    padding: 0;
}
.category-products ul.products-grid li.item {
	margin-bottom: 0!important;
    padding: 15px;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.category-product .products-grid .item .item-inner .item-img {
	padding: 0;
}
.category-product .item-info {
	padding-right: 15px;
}
.category-product .item-inner {
	overflow: hidden;
}
.search-form-desktop .search-box {
    margin-top: 10px;
}
.search-box .input-group {
    border: 2px solid #fff;
    border-radius: 5px;
}
.search-box .input-group .form-control {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
}
.search-box .input-group .form-control:focus {
    box-shadow: none;
}
.search-box .input-group .bg-search {
    background: #fff;
    color: #333;
    border: 0;
    height: 34px;
    border-radius: 5px;
}
.search-box .input-group .bg-search:hover {
    color: #be1e2d;
}
.blog-latest .blog-outer-container {
    background: transparent;
}
.blog-latest .blog-inner {
    margin: 0 -15px;
}
.blog-latest .blog-outer-container .block-title {
    margin: 0 0 15px;
}
.blog-latest .entry-thumb {
    background: #fff;
}
.blog-latest .blog-preview_info {
    padding: 5px 20px;
}   
.menu-icon > li > a:hover, .menu-icon > li > ul > li a:hover {
    color: #fbaf3f!important;
}
#mobile-menu + .main-container {
    margin-top: 30px;
}
.product-essential .tab-content {
    display: block;
}
.footer-menu .row {
    display: flex;
    flex-flow: row wrap;
}
.footer-menu.footer-middle .col-md-3 {
    margin: 0;
}
.newsletter-wrap input[type="text"] {
    border-radius: 3px!important;
}
.review-company-text {
    display: flex;
    flex-flow: row wrap;
}
#related-products-slider .products-grid {
    padding: 0;
}
#related-products-slider .owl-item {
    padding: 0 15px;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    padding: 15px 15px 12px;
}
#product-detail-tab > li > a {
    background: #fff;
    color: #777;
}
#product-detail-tab > li > a:hover,
#product-detail-tab > li > a:focus {
    background: #388305;
    color: #fff;
}
#product-detail-tab > li.active > a, 
#product-detail-tab > li.active > a:hover, 
#product-detail-tab > li.active > a:focus {
    background: #388305;
    color: #fff;
}
.product-tabs {
    background: transparent;
}
.entry-content img {
    margin: 0 auto;
}
.newsletter-wrap {
    overflow: visible;
}
.newsletter-footer .text-danger {
    background: #f4516c;
    color: #fff;
    padding: 10px 20px;
    top: 100%;
    right: 50%;
    transform: translateX(55%);
}
.breadcrumbs .active {
    color: #be1e2d;
}
.product-essential .column {
    padding-left: 8px;
    padding-right: 8px;
}
.slide-detail {
    clear: both;
    background: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 15px 0;
}
.slide-detail .slick-vertical .slick-slide  {
    margin-bottom: 8px;
}
#product_addtocart_form .add-to-cart .btn-cart {
    background: #58b11c;
    padding: 0;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 0;
    border: 0;
}
#product_addtocart_form .btn-cart .icon-cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #388305;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
#product_addtocart_form .btn-cart span {
    padding: 0 20px;
}
#product_addtocart_form .add-to-box {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
}
.info-detail {
    margin-left: -8px;
    margin-right: -8px;
}
@media (max-width: 1024px) {
    .main-banner .twobanner img {
        height: 47px;
    }
}
@media (max-width: 768px) {
    .category-product .new_title {
        display: block;
        padding-top: 15px;
    }
    .category-product .view-list-child {
        text-align: left;
        padding: 10px 20px;
    }
    .category-product .list-all {
        display: inline-block;
    }
    .category-product .nav-category-title a {
        background: transparent;
        color: #000;
    }
    .category-product .nav-category-title a:after {
        content: none;
    }
    .footer-column {
        margin-bottom: 30px;
    } 
    .review-company-text {
        padding: 20px 0;
    }
    .review-company-text li {
        margin-top: 20px!important;
        margin-bottom: 0;
        min-height: auto;
    } 
    .review-company-inner-img {
        width: 100px;
        height: 100px;
        top: -60px;
    }  
    .review-company-inner:before {
        width: 150px;
    }
    .popular-posts img {
        max-width: 270px;
    }
}
@media (max-width: 640px) {
    .product-box-right {
        margin-top: 15px;
        padding: 20px;
        min-height: auto;
    }
    .footer-menu.footer-middle .col-md-3 {
        width: 50%;
    }
    .product-essential .buy-more {
        margin-top: 30px;
    }
    #related-products-slider {
        margin-top: 0;
    }
}
@media (max-width: 479px) {
    .footer-menu.footer-middle .col-md-3 {
        width: 100%;
    }  
    #related-products-slider.product-flexslider {
        margin: 0;
    } 
    .widget h2, .sidebar-category h2 {
        font-size: 14px;
    } 
    .logo-block {
        margin-top: 15px;
    }
}


