.d-none{display: none !important;}
.fixed{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #000000;
    opacity: 0.4;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.block-company-wrapper .dropdown-menu li {
    padding: 5px 15px;
}
.block-company-wrapper .dropdown-menu a{
    padding: 6px 12px 6px 44px !important;
    color: #fff !important;
}
.block-company-wrapper .dropdown-menu a:hover{
    background: #545656 !important;
    color: inherit !important;
}

header .our-features-box ul {
    display: table;
}

header .our-features-box li {
    float: none;
    margin-bottom: 0px;
    text-align: center;
    width: auto;
    padding: 0;
    display: table-cell;
    text-transform: uppercase;
}
.features-block a:before{
    content: none;
}

#mobile-menu .top-links ul.links a.btn-social{
    color: #ffffff !important;
    padding-left: 44px !important;
}
.btn-social>:first-child{
    font-size: 1.2em;
}
.has-warning .text-danger {
    color: #f4516c;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 1;
    margin-bottom: 10px;
}

.our-features-box .feature-box{
    padding: 18px 10px;
}

.product-view .product-shop .sold{
    font-size: 85%;
    font-weight: normal;
    color: #999999;
}

.product-view .product-shop .sold strong{
    font-size: 14px;
}
.product-view .product-shop .ratings{
    padding: 0;
}
.email-addto-box{
    margin: 0;
}

.jssocials{
   margin: 10px 0;
}
.newsletter-footer .text-danger{
    text-align: center;
    position: absolute;
    right: 355px;
    top: 13px;
    width: auto;
    margin: 0 auto;
}
.buy-more .add-to-box{
    padding: 10px 0 !important;
    border-bottom: 1px solid #f0ad4e;
}

.buy-more .add-to-box:first-child{
    padding: 0 0 10px 0 !important;
}

.buy-more .add-to-box:last-child{
    padding: 10px 0 0 0 !important;
    border-bottom: none;
}

.buy-more .add-to-box h2{
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.buy-more .add-to-box h2 a{
    color: #333333;
}
.buy-more .add-to-box .custom .btn-cart{
    font-size: 12px;
    padding: 5px;
}
.product-buy{
    padding: 0;
}
.product-buy .info{
    overflow: hidden;
    font-size: 14px;
    color: #333;
    line-height: 1.4em;
    padding: 18px 15px;
    background: #f2f2f2;
    margin-bottom: 10px;
}
.product-buy .feature-box .content{
    width: calc(100% - 50px);
}

.product-buy .feature-box h3{
    font-size: 15px;
}
.agency{margin-top: 10px;}

.product-buy .agency{
    margin-top: 10px;
}

.accessories .item{
    padding: 0 5px 10px;
}

#fancybox-wrap{

}
.phantrang {
    display: block;
    margin: auto;
    margin-top: 25px;
    text-align: right;
}
.phantrang .pagination li.active a{
    background-color: #939393;
    border: 1px solid #939393;
}
.phantrang .pagination{
    border-radius: 0;
}
.panel-danger {
    border-color: #be1e2d;
}
.panel-danger>.panel-heading{
    color: #be1e2d;
    background-color: #ffffff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: rgb(251, 175, 63);
}
.nav-tabs > li > a:hover{
    background-color: rgb(251, 175, 63);
}
.accessories .item a{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
}

.accessories .item a h2{
    font-size: 14px;
    padding-left: 10px;
}
.buy-more .panel-body{
    max-height: 230px;
    overflow: hidden;
    position: relative;
}

.buy-more .showmore{
    position: absolute;
    bottom: 0px;
    height: 35px;
    text-align: center;
    width: 94%;
    background-color: #ffffff;
}
.buy-more .showmore a{
    background-color: rgb(251, 175, 63);
    color: #ffffff;
}
.buy-more .showmore a:hover{
    background-color: #be1e2d;
    color: #ffffff;
}

.buy-btn{
    background-color: #be1e2d;
}
.tp-caption.Title{
    margin-top: 20px;
    font-size: 20px !important;
}


/*
Comment*/
.table {
    display: table;
    margin: 0;
}
.table .cell {
    display: table-cell;
    vertical-align: middle;
}
.comment-fr{
    font-family: Helvetica, Arial, sans-serif;
}
.comment-fr form .form_50{
    width: 49%;
}
.comment-fr form input{
    padding-left: 12px;
    padding-right: 12px;
}
.comment-fr .cmt-focus {
    border: solid 1px #ccc;
    height: 100px;
    width: 100%;
    display: block;
    font-family: inherit; }

.comment-fr .form-input textarea {
    border: solid 1px #ccc;
    font-size: 16px;
    height: 80px;
    width: 100%;
    display: block;
    font-family: inherit;
    margin-top: 10px;
}

.comment-fr .fr-photo {
    padding: 10px 10px 5px 10px;
    border: solid 1px #ccc;
    border-top: none; }
.comment-fr .fr-photo:empty {
    padding: 0;
    border: none; }
.comment-fr .fr-photo .item {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    position: relative;
    border: solid 1px #ccc;
    margin-bottom: 5px;
    margin-right: 5px; }
.comment-fr .fr-photo .item img {
    max-height: 80%;
    max-width: 80%; }
.comment-fr .fr-photo .item .pt-remove {
    font-size: 24px;
    position: absolute;
    width: 24px;
    height: 24px;
    border: solid 1px #ccc;
    font-family: "Arial";
    line-height: 24px;
    border-radius: 50%;
    color: #636466;
    padding-left: 2px;
    background: #fff;
    top: -12px;
    right: -12px;
    z-index: 1; }
.comment-fr .fr-photo .item .pt-remove:hover {
    border-color: #f58634;
    color: #f58634; }

.comment-fr .fr-ctrl {
    border: solid 1px #ccc;
    border-top: none;
    padding: 10px 100px 10px 15px;
    color: #008f4f;
    position: relative; }
.comment-fr .fr-ctrl .push-img {
    cursor: pointer;
    margin-right: 15px;
    padding-right: 20px;
    border-right: solid 1px #ccc; }
.comment-fr .fr-ctrl .push-img input {
    display: none; }
.comment-fr .fr-ctrl .push-img i {
    font-size: 18px;
    color: #636466;
    margin-right: 5px;
    vertical-align: middle; }
.comment-fr .fr-ctrl a:hover {
    text-decoration: underline; }
.comment-fr .fr-ctrl .send {
    font-weight: bold;
    background: #f58634;
    color: #fff;
    border-radius: 50px;
    padding: 2px 25px 4px 25px;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -17px; }
.comment-fr .fr-ctrl .send:hover {
    background: #f36f0d; }

.comment-fr .cmt-head {
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
.comment-fr .cmt-head strong {
    font-size: 16px; }

.hc-comment {
    margin-bottom: 20px; }
.hc-comment.f2 {
    padding-bottom: 15px;
    border-bottom: solid 1px #ccc; }
.hc-comment.f2:last-child {
    border-bottom: none;
    padding-bottom: 0; }
.hc-comment .head {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px; }
.hc-comment .head .avt {
    font-size: 14px;
    font-family: "Arial";
    background: #cccccc;
    color: #292929;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 26px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px; }
.hc-comment .head .avt img {
    display: block;
    width: 100%;
    height: 100%; }
.hc-comment .head .name {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle; }
.hc-comment .head label {
    background: #f58634;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    padding: 1px 10px 3px 10px;
    margin-left: 10px;
    border-radius: 20px; }
.hc-comment .text {
    font-size: 16px;
    margin-bottom: 6px; }
.hc-comment .ctrl {
    color: #636466; }
.hc-comment .ctrl a {
    color: #008f4f; }
.hc-comment .ctrl a:hover {
    text-decoration: underline; }
.hc-comment .form-input {
    margin-top: 10px; }
.hc-comment .replys {
    background: #f8f8f8;
    border: solid 1px #ccc;
    padding: 15px 15px 0px 15px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px; }
.hc-comment .replys:before, .hc-comment .replys:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 10px; }
.hc-comment .replys:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #ccc; }
.hc-comment .replys:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #f8f8f8;
    margin-bottom: -2px; }
.comment-fr form.form-comment{
    padding: 5px;
    border: 1px solid #ccc;
}
@media all and (max-width: 767px) {
    .comment-box {
        padding: 14px; }
    .comment-box .title, .comment-box .i-title {
        font-size: 16px; }
    .comment-fr .fr-ctrl .push-img {
        display: block;
        margin-right: 0;
        border-right: none;
        margin-bottom: 5px; }
    .comment-search {
        width: 180px; }
    .comment-search input {
        font-size: 13px;
        padding-left: 30px; }
    .comment-fr .cmt-head strong {
        font-size: 13px; }
    .comment-fr .fr-photo .item {
        width: 70px;
        height: 70px; }
    .hc-comment .head {
        padding-left: 35px; }
    .hc-comment .head .name {
        font-size: 14px; } }