.block-company-wrapper .dropdown-menu li {
    padding: 5px 15px;
}
.block-company-wrapper .dropdown-menu a{
    padding: 6px 12px 6px 44px !important;
    color: #fff !important;
}
.block-company-wrapper .dropdown-menu a:hover{
    background: #545656 !important;
    color: inherit !important;
}

header .our-features-box ul {
    display: table;
}

header .our-features-box li {
    float: none;
    margin-bottom: 0px;
    text-align: center;
    width: inherit;
    padding: 0;
    display: table-cell;
    text-transform: uppercase;
}
.features-block a:before{
    content: none;
}

#mobile-menu .top-links ul.links a.btn-social{
    color: #ffffff !important;
    padding-left: 44px !important;
}
.btn-social>:first-child{
    font-size: 1.2em;
}
.has-warning .text-danger {
    color: #f4516c;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 1;
    margin-bottom: 10px;
}

.our-features-box .feature-box{
    padding: 18px 10px;
}

.product-view .product-shop .sold{
    font-size: 85%;
    font-weight: normal;
    color: #999999;
}

.product-view .product-shop .sold strong{
    font-size: 14px;
}
.product-view .product-shop .ratings{
    padding: 0;
}
.email-addto-box{
    margin: 0;
}

.jssocials{
   margin: 10px 0;
}
.newsletter .text-danger{
    text-align: center;
    position: absolute;
    right: 355px;
    top: 13px;
    width: auto;
    margin: 0 auto;
}
.buy-more .add-to-box{
    padding: 0 !important;
}
.product-buy{
    padding: 0;
}
.product-buy .feature-box .content{
    width: 210px;
}

.product-buy .feature-box h3{
    font-size: 15px;
}
.agency{margin-top: 10px;}

.product-buy .agency{
    margin-top: 10px;
}

.accessories .item{
    padding: 0 5px 10px;
}