	header {
		.our-features-box {
			.offer-block{
				position: relative;
				>ul{
					>li{
						a{
							&:before{
								display: none;
							}
						} 
						> .sub-menu{
							transition: .3s;
							transform: translateY(30px);
							opacity: 0;
							visibility: 0;
							display: block;
							max-height: 300px !important; 
							overflow: hidden;
							overflow-y: auto;
							position: absolute;
							left: 0;
							top: 100%;
							min-width: 250px;
							border: 1px #eaeaea solid;
							padding: 15px;
							background-color: #fff;
							z-index: 9;
							border-top: 4px solid #de0909;
							box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.06);
							li{
								display: inline-block;
								transition: .3s;
								float: left;
								a{
									vertical-align: top;
									color: #333;
									font-size: 14px;
									text-transform: initial;
									padding: 5px 0;
									text-align: left;
									position: relative;
									// padding-left: 15px;
									// &:before{
									// 	position: absolute;
									// 	left: 0;
									// 	top: 6px;
									// 	font-size: 14px;
									// 	content: '\f0da';
									// 	color: rgb(190, 30, 45);
									// 	font-family: "FontAwesome"
									// }

								}
								&:hover{
									a{
										color: #be1e2d;
									}
								}
							}
						}
						
						&.parent-colum-4{

							.sub-menu{
								li{
									text-align: left;
									width: 25% !important; 

								}
							}
							&.parent-colum-submenu{
								> ul{
									>li{
										padding: 0 5px;
										position: relative;
										font-weight: bold;
										> a{ 
											width: 100%;
											text-align: left;
											padding-left: 0;
											
											&:before{
												content: '';
											}
										}
										> .sub-menu{
											padding: 0 0 0 0;
											position: relative;
											height: auto !important;
											box-shadow: 0 0 0;
											float: left;
											width: 100%;
											>li{
												width: 100% !important; 
												>a{
													text-align: left;
													color: #333 !important;
												}
												&:hover{
													a{
														color: #be1e2d !important;
													}
												}
											}
											border-bottom: 1px solid #f4f4f4;
										}
										
									}
								}
							}
						}
						&.parent-colum-1{
							position: relative;
							.sub-menu{
								z-index: 99;
								min-width: 250px;
								li{
									text-align: left;
									width: 100% !important;
								}
							}
						}
						&.parent-colum-2{
							position: relative;
							
							.sub-menu{
								z-index: 99;
								min-width: 500px !important;
								li{
									text-align: left;
									width: 50% !important;
								}
							}
						}
						&.parent-colum-3{
							.sub-menu{
								li{
									text-align: left;
									width: 33.333% !important;
								}
							}
						}
						&:last-child{
							.sub-menu{
								left: auto;
								right: 0;
							}
							
						}
						&:hover{
							>.sub-menu{
								transform: translateY(0);
								opacity: 1;
								visibility: 1;
							}
						}	
					}
				}
			}

		}
	}