header {
  .our-features-box {
    .offer-block {
      position: relative;
      > ul {
        > li {
          a {
            &:before {
              display: none;
            }
          }
          > .sub-menu {
            /*transition: .3s;*/
            /*transform: translateY(30px);*/
            opacity: 0;
            visibility: hidden;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            max-height: 300px !important;
            overflow: hidden;
            overflow-y: auto;
            position: absolute;
            left: 0;
            top: 100%;
            min-width: 250px;
            border: 1px #eaeaea solid;
            padding: 15px;
            background-color: #fff;
            z-index: 9;
            border-top: 4px solid rgb(190, 30, 45);
            box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.06);
            > li {
              display: inline-block;
              float: left;
              text-align: left;
              padding-left: 10px;
              a {
                vertical-align: top;
                color: #333;
                font-size: 14px;
                text-transform: initial;
                padding: 5px 0;
                text-align: left;
                position: relative;
                // padding-left: 15px;
                // &:before{
                // 	position: absolute;
                // 	left: 0;
                // 	top: 6px;
                // 	font-size: 14px;
                // 	content: '\f0da';
                // 	color: rgb(190, 30, 45);
                // 	font-family: "FontAwesome"
                // }

              }
              &:hover {
                background-color: rgb(190, 30, 45);
                a {
                  color: #ffffff;
                }
              }
              ul{
                padding: 0 10px;
                li{
                  display: inline-block;
                  transition: .3s;
                  float: left;
                  text-align: left;
                  padding-left: 10px;
                  width: 100%;
                }
              }
            }
          }

          &.parent-colum-4 {

            .sub-menu {
              li {
                text-align: left;
                width: 25% !important;

              }
            }
            &.parent-colum-submenu {
              > ul {
                > li {
                  padding: 0 5px;
                  position: relative;
                  font-weight: bold;
                  > a {
                    width: 100%;
                    text-align: left;
                    padding-left: 0;

                    &:before {
                      content: '';
                    }
                  }
                  > .sub-menu {
                    padding: 0 0 0 0;
                    position: relative;
                    height: auto !important;
                    box-shadow: 0 0 0;
                    float: left;
                    width: 100%;
                    > li {
                      width: 100% !important;
                      > a {
                        text-align: left;
                        color: #333 !important;
                      }
                      &:hover {
                        a {
                          color: rgb(190, 30, 45) !important;
                        }
                      }
                    }
                    border-bottom: 1px solid #f4f4f4;
                  }

                }
              }
            }
          }
          &.parent-colum-1 {
            position: relative;
            .sub-menu {
              z-index: 99;
              min-width: 250px;
              li {
                text-align: left;
                width: 100% !important;
              }
            }
          }
          &.parent-colum-2 {
            position: relative;

            .sub-menu {
              z-index: 99;
              min-width: 500px !important;
              li {
                text-align: left;
                width: 50% !important;
              }
            }
          }
          &.parent-colum-3 {
            .sub-menu {
              li {
                text-align: left;
                width: 33.333% !important;
              }
            }
          }
          &:last-child {
            .sub-menu {
              left: auto;
              right: 0;
            }

          }
          &:hover {
            > .sub-menu {
              transform: translateY(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

  }
}

#discount-coupon-form .coupon{
  padding: 0 !important;
}
.logo{
  img{
    max-width: 100%;
  }
}@media (max-width: 1200px){
  .features-block a{
    color: #fff;
    margin-right: 1px;
    display: inline-block;
    font-size: 12px;
    text-transform: none;
  }
  .our-features-box ul {
    width: 100%;
    padding-bottom: 3px;
  }
}
@media (max-width: 767px){
  .figure.effect-sadie1 img{
    width: 100%;
  }
  div.figure.banner-width,div.effect-sadie1 + div.effect-sadie1{
    margin-left: 0;
  }
  .newsletter-wrap {
    form{
        h4{
          display: none;
        }
      #newsletter1{
        width: calc(100% - 104px) !important;
        margin-bottom: 0;
      }
      .subscribe{
        width: 100px;
        margin-left: 6px;
      }
    }
  }
  .footer-middle .col-md-3 {
    padding: 10px 15px;
  }
  .footer-middle .col-md-3:last-child{
    padding-right: 15px;
  }
  .product-option-right{
    display: none;
  }
  a.link-quickview {
    display: none !important;
  }
  .product-tabs{
    display: inline-grid;
  }
  .product-view .product-shop .add-to-box{
  }
  .breadcrumbs ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    white-space: nowrap;
    overflow: auto;
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px)
{
  .related-pro .block-title h2 ,.upsell-pro .block-title h2{
    font-size: 16px;
  }
}
.top-agency{
  margin-top: -25px;
  display: block;
  position: relative;
  &__abs{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    top:0;
    ul{
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      li{
        list-style: none;
        font-size: 20px;
        margin-bottom: 55px;
        b{
          font-size: 24px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
.main-agency{
  a{
    color: #288ad6;
  }
  display: flex;
  flex-direction: column;
  width: 100%;
  .form_filter{
    display: block;
    background: #f8f8f8;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  h2{
    font-weight: bold;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    margin-top: 0;
  }
  .list-agency{
    display: block;
    border: 1px solid #ddd;
    &__title{
      padding: 20px 15px;
      border-bottom: 1px solid #ddd;
    }
    &__content{
      padding: 15px;
      ul{
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
        li{
          list-style: none;
          padding-left: 0;
          border-bottom: 1px solid #ddd;
          line-height: 2.5;
          span{
            color: #be1e2d;
          }

        }
      }
    }
    &__un{
      padding: 15px;
      ul{
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
        display: block;
        li{
          list-style: none;
          padding-left: 0;
          line-height: 2;
          float: left;
          width: 50%;
        }
      }


    }

  }

  [class^="iconshop-"], [class*="iconshop-"] {
    background-image: url(../images/iconsieuthi@1x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
  }
  .iconshop-parking {
    background-position: -130px 0;
    width: 23px;
    height: 18px;
  }
  .iconshop-wifi {
    background-position: -160px 0;
    width: 19px;
    height: 15px;
    margin: 0 3px;
  }
  .iconshop-guide {
    background-position: -180px 0;
    width: 20px;
    height: 18px;
    margin: 0 2px;
  }
  .iconshop-trial {
    background-position: -205px 0;
    width: 11px;
    height: 19px;
    margin: 0 6px;
  }
  .iconshop-staff {
    background-position: -220px 0;
    width: 17px;
    height: 17px;
    margin: 0 3px;
  }
  .iconshop-return {
    background-position: -240px 0;
    width: 17px;
    height: 19px;
    margin: 0 4px;
  }
  .iconshop-guarantee {
    background-position: -260px 0;
    width: 16px;
    height: 17px;
    margin: 0 4px;
  }
  .iconshop-installment {
    background-position: -280px 0;
    width: 20px;
    height: 19px;
    margin: 0 3px;
  }
  .iconshop-money {
    background-position: -305px 0;
    width: 18px;
    height: 13px;
    margin: 2px 2px 4px;
  }
  .iconshop-ship {
    background-position: -330px 0;
    width: 20px;
    height: 19px;
    margin: -2px 3px 0;
  }
  .search_key{
    position: relative;
    .result{
      display: none;
      position:absolute;
      left:0;
      top:100%;
      width: 100%;
      background-color:#fff;
      border: 1px solid #ddd;
      box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
      margin-left: 0;
      margin-bottom: 0;
      padding: 15px;
      &:before,&:after{
        content: '';
        position: absolute;
        bottom: 100%;
        left: 24px;
        display: block;
        margin: auto;
        width: 0;
        height: 0;
        border-bottom: 10px solid #ccc;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      &:after {
        border-width: 9px;
        border-bottom-color: #fff;
        margin-left: 1px;
      }

        li{
          list-style: none;
          line-height: 2;
        }
      &.gogo{
        display: block;
      }
    }
  }
}
