.price-slider .owl-buttons .fa {
	background: #be1e2d;
	color: #fff;
	line-height: 30px;
	width: 30px;
    height: 30px;
	font-size: 20px;
	transform: translateY(-30px);
	-moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}
.price-slider .owl-buttons a:hover .fa,
.price-slider .owl-buttons a:focus .fa {
	background: #c70416;
	color: #fff;
}
.price-slider .price-item {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
.price-slider .price-item .price {
    font-size: 15px;
    color: #456883;
    font-weight: bold;
}
.price-slider.owl-theme .owl-controls .owl-buttons div {
	opacity: 1;
	filter: alpha(opacity=50);
}
@media (max-width: 640px) {
	.d-flex.pricing-style1 {
		overflow-x: auto;
		margin-bottom: 30px;
	}
	.pricing-plan {
		margin-bottom: 0;
	}
}